# Database
MONGODB_URI=mongodb://localhost:27017/aegisdb?authSource=admin

# Environment
NODE_ENV=development

# DAA API (DaAthena)
DAA_API_KEY=c4b12f08598849821784c6bd61a2e6bd
DAA_BASE_URL=https://api.daathena.com/api/v2
DAA_API_SECRET_KEY=BJIXIHSIS7BLH827LG5MRM1ZTFF2ZY7E3N3N4PQO

# Web3 Configuration
NEXT_PUBLIC_CHAIN_ID=84532
NEXT_PUBLIC_WC_PROJECT_ID=38bb8fe0283cf5d6a5267eacb61e7cb6
NEXT_PUBLIC_CONTRACT_ADDRESS=0xDF1d1968c54E6D537bbdAD0A9ed481C22f69F4aA

# CRON Security
CRON_SECRET_KEY=aegis_cron_secret_2024

